<html>

<head>
    <title>Hospital Repo</title>
</head>
<body>
        <p>User ID: <strong> <%- u_id %> </strong></p>
        <p>Username: <strong> <%- uname %> </strong></p>

        <h1>Welcome to Hospital Repo</h1>

        <a href="/dashboard">Home</a>
        <a href="/addpatient">Add Patient</a>
        <a href="/viewpatient">View Patient</a>

</body>
</html>