<html>

<head>
        <title>Hospital Repo</title>
</head>

<body>
        <h2>TCC Hospital Repo App</h2>
        <ul>
            <li><a href="/">Welcome Page</a></li>
            <li><a href="/signup">Signup Page</a></li>
        </ul>

        <% if(message != ''){ %>
           <p style="color: green">  <%= message %> </p>

        <% } %>

        <% if(error_msg != ''){ %>
          <p style="color: red">  <%= error_msg %></p>
          
        <% } %>

        <h4>Login Page</h4>
        <p>Please Enter your Username and Password</p>
        <form action="/login" method="post">
            <p>Username: <input type="text" name="username"></p>
            <p>Password: <input type="text" name="password"></p>

            <input type="submit" value="Click to Login">

        </form>
 </body>
</html>