<html>

<head>
        <title>Hospital Repo</title>
</head>

<body>
        <h2>TCC Hospital Repo App</h2>
        <p>An Electronic Health Record Manager for Medicine Practitioners</p>

        <h4>Welcome!!!</h4>
        <p>To login, <a href="/login">click here</a></p>
        <p>New User? <a href="/signup">click here</a> to signup</p>
</body>
</html>